body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: white;
}

/* Apartado de presentación */

.presentation {
    position: relative;
    width: 100%;
    height: 720px;
    background-image: url(img/background.png);
}

.presentation-container {
    position: absolute;
    background-color: #121212;
    width: 50%;
    height: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;    
    display: flex;
    align-items: center;
}

.presentation-child {
    float: left;
    width: 50%;
    text-align: center;
}

.presentation-title {
    margin: 0;
    width: 100%;
    border-right: 1px solid white;
    padding: 0px 30px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

.nav-button {
    padding: 10px;
}

.nav-button a {
    color: white;
    text-decoration: none;
}

.nav-button a:hover {
    color: #8ac9dc;
}

/* Apartado de proyectos */

.projects-gallery {
    display: flex;
}

.project-card {
    width: 25%;
    height: 320px;
    float: left;
    text-align: center;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    font-size: larger;
    padding-top: 40px;
    transition: 0.3s;
}

.project-card:hover {
    background-color: white;
    color: #121212;
}

/* Apartado de "Sobre mi" */

.about-content {
    display: flex;
    margin: 20px;
    justify-content: center;
}

.about-side {
    width: 20%;
}

.about-img {
    width: 100%;
    height: 100%;
    background-image: url(img/cat.jpg);
    background-size: cover;
    filter: grayscale(100%);
}

.about-text {
    width: 50%;
    text-align: justify;
    padding: 0px 20px;
}

.contact-container {
    display: flex;
    justify-content: center;
}

.contact-button {
    border: 1px solid white;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    transition: 0.3s;
    float: left;
    margin: 0px 10px 20px 10px;
}

.contact-button:hover {
    transform: scale(1.05);
    background-color: white;
}